footer {
    text-align: center;
}

#change-image {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    border: 20px;
}

a {
    color: darkgreen;
    text-decoration-line: none;
}


p {
    margin-top: 3em;
}

input[type="text"]:enabled {
    background-color: red;
}

input[type="text"]:disabled {
    background-color: none;
}
