{% extends "layout.html" %}

{% block title %}
Buy
{% endblock %}

{% block main %}
<form action="/buy" method="post">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="symbol" placeholder="Stock Name" required autofocus>
        <input type="number" class="form-control" name="shares" placeholder="Shares" required min="1" autocomplete="off">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">Buy</button>
        </div>
    </div>
</form>
{% endblock %}
