{% extends "layout.html" %}

{% block title %}
Homepage
{% endblock %}

{% block main %}
<h1>Overview</h1>
<p>Your current cash balance is: {{ '%.2f' % cash }}</p>
<p>Yout total balance is: {{ '%.2f' % total }}</p>

<h1>Your stocks</h1>
<table class="table">
    <tr>
        <th>Stock</th>
        <th>Shares</th>
        <th>Current Price</th>
        <th>Value</th>
    </tr>
    {% if purchases %}
    {% for purchase in purchases %}
    <tr>
        <td>{{ purchase["symbol"] }}</td>
        <td>{{ purchase["shares"] }}</td>
        <td>{{ '%.2f' % purchase["price"] }}</td>
        <td>{{ '%.2f' % purchase["value"] }}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>
{% endblock %}
