{% extends "layout.html" %}

{%block title %}
Get a quote
{% endblock %}

{% block main %}
<form action="/quote" method="post">
    <div>
        <input type="text" name="quote" required placeholder="stock symbol" autofocus>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Get quote</button>
    </div>
</form>

<table class="table">
    <tr>
        <th>Stock symbol</th>
        <th>Name</th>
        <th>price</th>
    </tr>
    <tr>
        <td>{{ data["symbol"] }}</td>
        <td>{{ data["name"] }}</td>
        <td>{{ data["price"] }}</td>
    </tr>
</table>
{% endblock %}
