{% extends "layout.html" %}

{%block title %}
Get a quote
{% endblock %}

{% block main %}
<form action="/quote" method="post">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="quote" placeholder="Stock Name">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">Get quote</button>
        </div>
    </div>
</form>

<table class="table">
    <tr>
        <th>Stock symbol</th>
        <th>Name</th>
        <th>price</th>
    </tr>
    <tr>
        <td>{{ data["symbol"] }}</td>
        <td>{{ data["name"] }}</td>
        <td>{{ data["price"] }}</td>
    </tr>
</table>
{% endblock %}
